
8_statistical_methods/1559688305_Inferential_Statistics_Project2/.ipynb_checkpoints/inferential_statistics_2-Q-checkpoint.ipynb
.ipynb_checkpoints/Frequentist_Inference1B_Solutions6.25.19-checkpoint.ipynb
statistical_inferences/1_Frequentist Inference/.ipynb_checkpoints/inferential_statistics_1a-Q6.25-checkpoint.ipynb
mini_projects/statistical_inferences/1_Frequentist Inference/.ipynb_checkpoints/inferential_statistics_1a-Q6.25-checkpoint.ipynb
.idea/misc.xml
